<h1>User</h1>
<div class="media-body">
  <h2 class="media-heading">Email</h2>
    <%= @user.email %>
</div>
<h4>Add an item</h4>
  <%= render partial: 'items/form', item: Item.new %>
<h3>Items</h3>
  <% @user.items.each do |item| %>
  <%= render partial: 'items/item', locals: {item: item} %>
  <% end %>
</div>
