<div class="container">
  <h1 class="text-center">User</h1>
  <div class="media-body">
    <h3 class="media-heading">Email</h3>
      <%= @user.email %>
  </div>
  <h4>Add an item</h4>
    <%= render partial: 'items/form', item: Item.new %>
  <h3>Items</h3>
    <% @user.items.each do |item| %>
    <%= render partial: 'items/item', locals: {item: item} %>
    <% end %>
  </div>
</div>
