<div class="media" >
   <div class="media-body">
     <p id="item-<%=item.id %>"><strong><%= item.name %></strong>
     <%= link_to "Delete", [item.user , item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
     <small>( <%= distance_of_time_in_words(item.created_at, Time.now - 7.days)%> left to complete )</small>
   </p>
   </div>
 </div>
